.border {
    margin-top: 20px;
    height: 150px;
    background-color: #939393;
    padding-bottom: 50px;
}

.text{
    margin-left: 50px;
    margin-right: 50px;
}

.upper{
    display : flex;
    width : 100%;
}

.footer{
    display : flex;
    width : 100%;
    color: black;
}

.footer a{
    margin-top: 6px;
    padding: 30px;
    font-size: 22px;
    display: flex;
    text-decoration: none;
    color: black;
}

.footer h2{
    display: flex;
    font-size: 28px;
    padding: 30px 15px;
}

.icon-footer{
    display : flex;
    padding: 32px 45px;
    justify-content: space-evenly;
    width : 35%;
}

.icon-footer img{
    height : 30px;
    width: auto;
}

.lower{
    font-size: 16px;
}

/* .upper{
    margin-left: 50px;
    display : flex;
    flex-direction: row;
    width :100%;
}

.footer {
    width : 100%;
    font-weight: 100;
    display: flex;
    margin-left: 30px;
    flex-direction: row;
}

.icon-footer {
    display: flex;
    width :50%;
    flex-direction: row;
    position: absolute;
}

.icon-footer a{
    margin-right: 20px;
}

.footer a{
    margin-top: 6px;
    padding: 1em 1em 1em 1em;
    font-size: 20px;
    display: flex;
    text-decoration: none;
    color: black;
}

.footer h2{
    display: flex;
    position: relative;
    padding: 0 -15px;
}


.lower {
    margin-left: 50px;
    display: flex;
    margin-top: 0px;
    font-size: 12px;
    margin-right: 100px;
    position: absolute;
} */

